
.vs/CheckDrivers/project-colors.json
.vs/CheckDrivers/v17/.suo
bin/Debug/CheckDrivers.exe
bin/Debug/CheckDrivers.exe.config
bin/Debug/CheckDrivers.pdb
bin/Debug/drivers.json
bin/Debug/System.Diagnostics.DiagnosticSource.dll
bin/x64/Debug/CheckDrivers.exe
bin/x64/Debug/CheckDrivers.exe.config
bin/x64/Debug/CheckDrivers.pdb
bin/x64/Debug/drivers.json
bin/x64/Debug/System.Diagnostics.DiagnosticSource.dll
obj/CheckDrivers.csproj.nuget.dgspec.json
obj/CheckDrivers.csproj.nuget.g.props
obj/CheckDrivers.csproj.nuget.g.targets
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/CheckDrivers.csproj.AssemblyReference.cache
obj/Debug/CheckDrivers.csproj.CopyComplete
obj/Debug/CheckDrivers.csproj.CoreCompileInputs.cache
obj/Debug/CheckDrivers.csproj.FileListAbsolute.txt
obj/Debug/CheckDrivers.csproj.Fody.CopyLocal.cache
obj/Debug/CheckDrivers.csproj.Fody.RuntimeCopyLocal.cache
obj/Debug/CheckDrivers.csproj.SuggestedBindingRedirects.cache
obj/Debug/CheckDrivers.exe
obj/Debug/CheckDrivers.pdb
obj/Debug/Costura/1E76E6099570EDE620B76ED47CF8D03A936D49F8.costura.newtonsoft.json.dll.compressed.compressed
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/project.assets.json
obj/project.nuget.cache
obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/x64/Debug/CheckDrivers.csproj.CopyComplete
obj/x64/Debug/CheckDrivers.csproj.CoreCompileInputs.cache
obj/x64/Debug/CheckDrivers.csproj.FileListAbsolute.txt
obj/x64/Debug/CheckDrivers.csproj.Fody.CopyLocal.cache
obj/x64/Debug/CheckDrivers.csproj.Fody.RuntimeCopyLocal.cache
obj/x64/Debug/CheckDrivers.csproj.SuggestedBindingRedirects.cache
obj/x64/Debug/CheckDrivers.exe
obj/x64/Debug/CheckDrivers.pdb
obj/x64/Debug/Costura/1E76E6099570EDE620B76ED47CF8D03A936D49F8.costura.newtonsoft.json.dll.compressed.compressed
